<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{Shared/_Layout :: Head(~{this :: title}, ~{this :: .custom-Header})}" >
    <title></title>
    <style class="custom-Header"></style>
</head>
<body>
<th:block layout:fragment="Body">
    <form id="form">
        <table class="form">
            <tr>
                <td class="form-label"><sup>*</sup>旧密码：</td>
                <td class="form-editer">
                    <input id="oldPassword" name="oldPassword" type="password" class="easyui-validatebox" data-options="required:true, validType:{length:[8,20]}" style="width: 150px"/>
                </td>
            </tr>
            <tr>
                <td class="form-label"><sup>*</sup>新密码：</td>
                <td class="form-editer">
                    <input id="newPassword" name="newPassword" type="password" class="easyui-validatebox" data-options="required:true, validType:['length[8,20]','code']" style="width: 150px"/>
                </td>
            </tr>
            <tr>
                <td class="form-label"><sup>*</sup>确认密码：</td>
                <td class="form-editer">
                    <input id="confirmPassword" name="confirmPassword" type="password" class="easyui-validatebox" data-options="required:true, validType:['length[8,20]','code']" style="width: 150px"/>
                </td>
            </tr>
        </table>
    </form>
</th:block>
</body>
<th:block layout:fragment="Scripts">
    <th:block th:insert="~{Shared/_Include :: cors}" />
    <script type="text/javascript">
        function save(callBack) {
            var isValid = $("#form").form('validate');
            if (!isValid) {
                JQEUI.warn("入力を確認してください！");
                return;
            }
            var oldPwd = $('#oldPassword').val();
            var newPwd = $('#newPassword').val();
            var confirmPassword = $('#confirmPassword').val();
            if (newPwd != confirmPassword) {
                JQEUI.error("新密码和确认密码不一致！");
                return;
            }
            if (oldPwd == newPwd) {
                JQEUI.error("新密码和旧新密码不能一样！");
                return;
            }
            JQEUI.confirm("确认修改密码吗？", function (r) {
                if (r) {
                    JQEUI.api('/Auth/ChangePasswordSave', { 'oldPassword': oldPwd, 'newPassword': newPwd }, function (json, success) {
                        if ($.isFunction(callBack)) {
                            callBack.call(this, success);
                        }
                    });
                }
            });
        }
    </script>
</th:block>
</html>