<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="~{Shared/_Layout :: Head(~{this :: title}, ~{this :: .custom-Header})}" >
    <title>ユーザー管理列表</title>
    <style class="custom-Header"></style>
</head>
<body>
<th:block layout:fragment="Body">
    <div id="toolbar" style="padding: 5px;">
        <div>
            <th:block th:if="${PERMISSION_CONTEXT.hasPermission(btnAdd)}" >
            [(${HTML_HELPER.PlainButton("追加ユーザー", "btnAdd", "icon-add")})]
            </th:block>
        </div>
        <table style="height: 30px;">
            <tr>
                <td class="toolsbar-title">絞り込み条件：</td>
                <td>
                    <div id="filter"></div>
                </td>
            </tr>
        </table>
    </div>
    <table id="view"></table>
</th:block>
</body>
<th:block layout:fragment="Scripts">
    <th:block th:insert="~{Shared/_Include :: cors}" />
    <th:block th:insert="~{Shared/_Include :: raw}" />
    <script type="text/javascript" th:inline="javascript">
        var cache={
            path: '/Account/User',
            view:$("#view")
        };

        cache.view.datagrid({
            url: `${cache.path}/UserListData`,
            toolbar: "#toolbar",
            filter: '#filter',
            rownumbers: true,
            singleSelect: true,
            striped: true,
            pagination: true,
            fit: true,
            fitColumns: false,
            pageSize: 20,
            pageNumber: 1,
            pageList: [10,15, 20,25,30],
            filterData: raw([[${T(jp.com.module.JsonManager).serialize(FILTER_DATA)}]]),
            queryParams: {},
            columns: [
                [
                    { field: '操作', title: '操作', width: 300, formatter:function(value, row, index){
                            var html=[];
                            html.push(`<a href='javascript:void(0);' onclick='JQEUI.account.userEdit(${row.[(${_ID_})]});'>編集</a>`);
                            html.push(`<a href='javascript:void(0);' onclick='JQEUI.account.setUserGroup(${row.[(${_ID_})]});'>设置组</a>`);
                            html.push(`<a href='javascript:void(0);' onclick='JQEUI.account.setUserRole(${row.[(${_ID_})]});'>设置角色</a>`);
                            html.push(`<a href='javascript:void(0);' onclick='JQEUI.account.assignUserPermission(${row.[(${_ID_})]});'>特殊权限</a>`);
                            return html.join('&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;');
                        }
                    },
                    { field: '[(${_LOGINACCOUNT_})]', title: '登陆账号', width: 160,
                        headerContextMenu: [
                            {
                                type: "searchbox",
                                onChange: function (value) {
                                    this.datagrid("filterLoad", { 'Field': '[(${_LOGINACCOUNT_})]', 'Value': value });
                                }
                            }
                        ]
                    },
                    { field: '[(${_REALNAME_})]', title: '真实姓名', width: 80,
                        headerContextMenu: [
                            {
                                type: "searchbox",
                                onChange: function (value) {
                                    this.datagrid("filterLoad", { 'Field': '[(${_REALNAME_})]', 'Value': value });
                                }
                            }
                        ]
                    },
                    { field: '[(${_PETNAME_})]', title: '昵称', width: 80,
                        headerContextMenu: [
                            {
                                type: "searchbox",
                                onChange: function (value) {
                                    this.datagrid("filterLoad", { 'Field': '[(${_PETNAME_})]', 'Value': value });
                                }
                            }
                        ]
                    },
                    { field: '[(${_LOGINTIME_})]', title: '登录时间', width: 120, formatter: JQEUI.grid.datetimeFormatter, sortable: true,
                        headerContextMenu: [
                            {
                                type: "rangeFilter:datebox",
                                onChange: function (value) {
                                    value.Field="[(${_LOGINTIME_})]";
                                    this.datagrid("filterLoad", value);
                                }
                            }
                        ]
                    },
                    { field: '[(${_LOGINIP_})]', title: '登录IP', width: 120,
                        headerContextMenu: [
                            {
                                type: "searchbox",
                                onChange: function (value) {
                                    this.datagrid("filterLoad", { 'Field': '[(${_LOGINIP_})]', 'Value': value });
                                }
                            }
                        ]
                    },
                    { field: '[(${_STATUS_})]', title: '状态', width: 80, formatter: raw([[${T(jp.com.module.EasyUI).enumFormatter(E_ACCOUNT_USER_STATUS)}]]),
                        headerContextMenu: [
                            {
                                type: "combobox",
                                data: raw([[${T(jp.com.module.EasyUI).enumFilterData(E_ACCOUNT_USER_STATUS)}]]),
                                onChange: function (value) {
                                    if (value == -1) value = null;
                                    this.datagrid("filterLoad", { 'Field': '[(${_STATUS_})]', 'Value': value });
                                }
                            }
                        ]
                    },
                    { field: '[(${_PHONE_})]', title: '手机', width: 100,
                        headerContextMenu: [
                            {
                                type: "searchbox",
                                onChange: function (value) {
                                    this.datagrid("filterLoad", { 'Field': '[(${_PHONE_})]', 'Value': value });
                                }
                            }
                        ]
                    },
                    { field: '[(${_EMAIL_})]', title: '邮箱', width: 160,
                        headerContextMenu: [
                            {
                                type: "searchbox",
                                onChange: function (value) {
                                    this.datagrid("filterLoad", { 'Field': '[(${_EMAIL_})]', 'Value': value });
                                }
                            }
                        ]
                    },
                    { field: '[(${_GROUPTEXT_})]', title: 'ユーザー组', width: 200,
                        headerContextMenu: [
                            {
                                type: "searchbox",
                                onChange: function (value) {
                                    this.datagrid("filterLoad", { 'Field': '[(${_GROUPTEXT_})]', 'Value': value });
                                }
                            }
                        ], formatter: function (value, row, index) {
                            if (value) {
                                return value.replace(',', '<br/>');
                            } else {
                                return "";
                            }
                        }
                    },
                    { field: '[(${_ROLETEXT_})]', title: '角色', width: 200,
                        headerContextMenu: [
                            {
                                type: "searchbox",
                                onChange: function (value) {
                                    this.datagrid("filterLoad", { 'Field': '[(${_ROLETEXT_})]', 'Value': value });
                                }
                            }
                        ], formatter: function (value, row, index) {
                            if (value) {
                                return value.replace(',', '<br/>');
                            } else {
                                return "";
                            }
                        }
                    },
                    { field: '[(${_DEPARTMENT_})]', title: '部门', width: 80,
                        headerContextMenu: [
                            {
                                type: "searchbox",
                                onChange: function (value) {
                                    this.datagrid("filterLoad", { 'Field': '[(${_DEPARTMENT_})]', 'Value': value });
                                }
                            }
                        ]
                    },
                    {
                        field: '[(${_CREATEUSERNAME_})]',
                        title: '創造人',
                        width: 120
                    },
                    {
                        field: '[(${_CREATETIME_})]',
                        title: '創造時間',
                        width: 180,
                        formatter:JQEUI.grid.datetimeFormatter,
                        sortable: true,
                        headerContextMenu: [
                            {
                                type: "rangeFilter:datebox",
                                onChange: function (value) {
                                    value.Field="[(${_UPDATETIME_})]";
                                    this.datagrid("filterLoad", value);
                                }
                            }
                        ]
                    },
                    {
                        field: '[(${_UPDATEUSERNAME_})]',
                        title: '更新人',
                        width: 120
                    },
                    {
                        field: '[(${_UPDATETIME_})]',
                        title: '更新時間',
                        width: 180,
                        formatter:JQEUI.grid.datetimeFormatter,
                        sortable: true,
                        headerContextMenu: [
                            {
                                type: "rangeFilter:datebox",
                                onChange: function (value) {
                                    value.Field="[(${_UPDATETIME_})]";
                                    this.datagrid("filterLoad", value);
                                }
                            }
                        ]
                    }
                ]
            ]
        });

        $("#btnAdd").on("click", function () {
            JQEUI.dialog({
                title: "ユーザー追加",
                width: 500,
                height: 500,
                href: `${cache.path}/UserAdd`,
                iframe: true,
                buttons: [{
                    text: '登録',
                    iconCls: 'icon-ok',
                    handler: function (dialog, iframe) {
                        iframe.contentWindow.save(function () {
                            cache.view.datagrid('reload');
                            dialog.dialog('close');
                        });
                    }
                }, {
                    text: 'クローズ',
                    iconCls: 'icon-close',
                    handler: function (dialog) {
                        dialog.dialog('close');
                    }
                }]
            });
            return false;
        });

        JQEUI.extend({
            account: {
                userEdit: function (value) {
                    JQEUI.dialog({
                        title: "ユーザー編集",
                        width: 500,
                        height: 500,
                        href: `${cache.path}/UserEdit/${value}`,
                        iframe: true,
                        buttons: [{
                            text: '更新',
                            iconCls: 'icon-ok',
                            handler: function (dialog, iframe) {
                                iframe.contentWindow.save(function () {
                                    cache.view.datagrid('reload');
                                    dialog.dialog('close');
                                });
                            }
                        }, {
                            text: 'クローズ',
                            iconCls: 'icon-close',
                            handler: function (dialog) {
                                dialog.dialog('close');
                            }
                        }]
                    });
                    return false;
                },
                setUserGroup: function (value) {
                    JQEUI.dialog({
                        title: 'ユーザーグループ設置',
                        fit: true,
                        iniframe: true,
                        href: `${cache.path}/UserGroupAssign/${value}`,
                        buttons: [{
                            text: 'クローズ',
                            iconCls: 'icon-close',
                            handler: function (dialog) {
                                cache.view.datagrid('reload');
                                dialog.dialog('close');
                            }
                        }
                        ]
                    });
                },
                setUserRole: function (value) {
                    JQEUI.dialog({
                        title: 'ユーザー役割設置',
                        fit: true,
                        iniframe: true,
                        href: `${cache.path}/UserRoleAssign/${value}`,
                        buttons: [{
                            text: 'クローズ',
                            iconCls: 'icon-close',
                            handler: function (dialog) {
                                dialog.dialog('close');
                            }
                        }
                        ]
                    });
                },
                assignUserPermission: function (value) {
                    JQEUI.dialog({
                        title: "ユーザー権限設置",
                        width: 500,
                        height: 600,
                        href: `/Account/Access/PermissionAssign?key=${value}&type=user`,
                        iframe: true,
                        buttons: [{
                            text:'設定',
                            iconCls:'icon-ok',
                            handler: function (dialog, iframe) {
                                iframe.contentWindow.save(`/Account/Access/UserPermissionAssign?userID=${value}`, function(){
                                    cache.view.datagrid('reload');
                                    dialog.dialog('close');
                                });
                            }
                        },{
                            text: 'クローズ',
                            iconCls: 'icon-close',
                            handler: function (dialog) {
                                dialog.dialog('close');
                            }
                        }]
                    });
                    return false;
                }
            }
        });
    </script>
</th:block>
</html>